<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EtherGovernance</title>
</head>

<body>

<div id="root">

    <div class="header">
        <h1>EtherGovernance</h1>
        <div v-if="metamaskConnected" class="vpower">
            <button @click="getVotingPower">Get Voting Power</button>
            <input type="number" min="0" step="0.1" v-model="depositVotingPower">
            <button @click="redeemVotingPower">Withdraw Ether</button>
            <input type="number" min="0" step="0.1" v-model="withdrawVotingPower">
        </div>
        <span v-if="metamaskConnected">Available Voting Power: {{votingPower}}</span>
        <span>{{metamaskStatus}}</span>
        <button v-if="!metamaskConnected" @click="connectMetamask">Connect to MetaMask</button>

    </div>

    <div v-if="metamaskConnected" class="propList">
        <div v-for="prop in orderedProposals" class="proposal">

            <span>Proposal Number: {{prop.index}}</span>
            <span>Proposal Creator: {{prop.creator}}</span>
            <span>Proposal is: {{prop.isActive ? "Active" : "Closed"}}</span>
            <span>Proposal Text Hash: {{prop.textHash}}</span>
            <span>Proposal Votes For: {{prop.votesFor}}</span>
            <span>Proposal Votes Against: {{prop.votesAgainst}}</span>

            <div class="row">
                <input type="number" min="0" step="0.1" v-model="voteAmount">
                <button @click="vote(prop.index, true)">Vote for</button>
                <button @click="vote(prop.index, false)">Vote against</button>
            </div>
        </div>
        <h3>Create your own Proposal:</h3>
        <span>Proposal Creation Requirement: {{proposalCreationRequirement}}</span>
        <textarea v-model="createPropText" rows="4" cols="50" placeholder="Insert proposal text here"></textarea>
        <button @click="createProposal">Create Proposal</button>
    </div>

</div>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    #root {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 64px 3fr;
        background: #e0e0e0;
    }

    div.header {
        display: flex;
        background-color: #a4a4a4;
        padding: 8px;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 2px 18px 0 black;
    }

    div.header h1 {
        margin: 0;
    }

    .propList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proposal {
        background: white;
        padding: 16px;
        border-radius: 25px;
        margin-bottom: 16px;
        box-shadow: 0px 10px 14px -5px black;
        display: flex;
        flex-direction: column;
        min-width: 50vw;
    }

    textarea {
        width: calc(50vw + 16px);
        min-height: 100px;
        max-height: 100px;
        min-width: calc(50vw + 16px);
        max-width: calc(50vw + 16px);
    }

    div.row {
        display: flex;
        flex-direction: row;
    }

</style>

</body>

<!-- WEB3 -->
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<!-- VUE -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<!-- AXIOS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const egAddress = '0x692560b307E40813EcB8e0C146c911280F60ab10' // rinkeby
    const abiPath = "./contracts/etherGovernance.json"
    const hashApi = "https://api.hashify.net/hash/sha256/hex"
    let web3
    let etherGovernance

    const up = new Vue({
        el: "#root",

        data: function () {
            return {
                metamaskStatus: "You need MetaMask to use this website!",
                metamaskConnected: false,
                proposalCreationRequirement: 0,
                votingPower: 0,
                depositVotingPower: 1.0,
                withdrawVotingPower: 1.0,
                proposalCount: 0,
                proposals: [],
                createPropText: "",
                voteAmount: 0,
            }
        },

        methods: {
            connectMetamask: async function () {
                try {
                    await ethereum.request({method: 'eth_requestAccounts'})
                    this.metamaskStatus = "Account: " + ethereum.selectedAddress
                    this.metamaskConnected = true
                    this.fetchVotingPower()
                    this.fetchAllProposals()
                    this.fetchCreateProposalRequirement()
                } catch (err) {
                    console.log(err)
                }
            },
            fetchVotingPower: function () {
                etherGovernance.methods.getVotingPower(ethereum.selectedAddress).call((err, res) => {
                    if (err) {
                        console.error("error fetching voting power", err)
                    } else {
                        this.votingPower = web3.utils.fromWei(res, "ether")
                        this.withdrawVotingPower = web3.utils.fromWei(res, "ether")
                        console.log("fetch voting power: ", this.votingPower, " ether")
                    }
                })
            },
            fetchCreateProposalRequirement: function () {
                etherGovernance.methods.proposalCreationRequirement().call((err, res) => {
                    if (err) {
                        console.error("error fetching proposal creation requirement", err)
                    } else {
                        this.proposalCreationRequirement = web3.utils.fromWei(res, "ether")
                        console.log("fetch proposal creation requirement: ", web3.utils.fromWei(res, "ether"))
                    }
                })
            },
            fetchAllProposals: function () {
                console.log("updating Proposals...")
                this.proposals = []
                etherGovernance.methods.proposalCount().call(async (err, res) => {
                    let ref = this
                    if (err) {
                        console.error("error during proposalCount fetch")
                    } else {
                        console.log("proposalCount: ", res)
                        this.proposalCount = res
                        for (let i = 0; i < this.proposalCount; i++) {
                            etherGovernance.methods.proposals(i).call((err, res) => {
                                if (err) {
                                    console.error("error during proposals fetch")
                                    return
                                } else {
                                    console.log("prop n: ", i, ": ", res)
                                    let prop = {
                                        index: i,
                                        creator: res.creator,
                                        isActive: res.isActive,
                                        textHash: res.textHash,
                                        votesAgainst: web3.utils.fromWei(res.votesAgainst.toString(), "ether"),
                                        votesFor: web3.utils.fromWei(res.votesFor.toString(), "ether")
                                    }
                                    ref.proposals.push(prop)
                                }
                            })
                        }
                    }
                })
            },
            getVotingPower: function () {
                if (!this.metamaskConnected) {
                    alert("You need to connect MetaMask to do this!")
                } else {
                    web3.eth.sendTransaction({
                        from: ethereum.selectedAddress,
                        to: egAddress,
                        value: web3.utils.toWei(this.depositVotingPower.toString(), "ether")
                    })
                        .on('receipt', (receipt) => {
                            console.log("receipt: ", receipt)
                            this.fetchVotingPower()
                        })
                }
            },
            redeemVotingPower: function () {
                if (!this.metamaskConnected) {
                    alert("You need to connect MetaMask to do this!")
                } else {
                    etherGovernance.methods.redeemEther(web3.utils.toWei(this.withdrawVotingPower.toString(), "ether")).send({
                        from: ethereum.selectedAddress,
                        to: egAddress
                    })
                        .on('receipt', (receipt) => {
                            console.log("withdrawed Ether from the contract, receipt: ", receipt)
                            this.fetchVotingPower()
                        })
                }
            },
            createProposal: async function () {
                if (!this.metamaskConnected) {
                    alert("You need to connect MetaMask to do this!")
                    return
                }
                if (!this.createPropText) {
                    alert("You need some text in your proposal!")
                    return
                }
                if (this.votingPower < this.proposalCreationRequirement) {
                    alert("You don't have the necessary voting power to create a proposal!")
                }
                let hashedText = await this.hashText(this.createPropText)
                etherGovernance.methods.createProposal(hashedText).send({
                    from: ethereum.selectedAddress,
                    to: egAddress
                })
                    .on('receipt', (receipt) => {
                        console.log("created new proposal, receipt: ", receipt)
                        // message user
                        this.fetchAllProposals()
                    })

            },
            vote: function (index, forAgainst) {
                if (!this.metamaskConnected) {
                    alert("You need to connect MetaMask to do this!")
                    return
                }
                if (this.voteAmount > this.votingPower) {
                    alert("You don't have enough voting power! ")
                    return
                }
                etherGovernance.methods.voteProposal(
                    index,
                    web3.utils.toWei(this.voteAmount.toString(), "ether"),
                    forAgainst
                ).send({
                    from: ethereum.selectedAddress,
                    to: egAddress
                })
                    .on('receipt', (receipt) => {
                        console.log((forAgainst ? "voted for proposal!" : "voted against proposal!"), "prop: ", index, "receipt: ", receipt)
                        this.fetchAllProposals()
                    })
            },
            hashText: async function (text) {
                try {
                    const response = await axios.get(hashApi + "?value=" + text)
                    console.log("called hash api, hash: ", response.data.Digest)
                    return response.data.Digest
                } catch (error) {
                    console.error(error)
                }
            }
        },

        computed: {
            orderedProposals: function () {
                return this.proposals.sort((a, b) => a.index - b.index)
            }
        },

        watch: {},

        created: async function () {
            if (window.ethereum) {
                this.metamaskStatus = "MetaMask has been Detected!"
                const response = await fetch(abiPath)
                const jsonData = await response.json()
                const egABI = jsonData.abi

                // load Web3
                web3 = new Web3(window.ethereum)
                etherGovernance = new web3.eth.Contract(egABI, egAddress)
                etherGovernance.setProvider(window.ethereum)

                // connect metamask
                await this.connectMetamask()

            } else {
                alert("You need to install MetaMask to access this dApp!")
                console.error('MetaMask Not Available')
            }

        }

    })

</script>

</html>